In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('data/cali_combined.csv')
df = df.drop(columns='Unnamed: 0')
df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,...,is_geocoding_exact,Geographic Area,Median Income,percent_completed_hs,poverty_rate,share_white,share_black,share_native_american,share_asian,share_hispanic
0,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,...,True,CA,81294.0,87.0,13.2,48.5,6.1,0.5,33.3,15.1
1,19,Patrick Wetter,2015-01-06,shot and Tasered,knife,25.0,M,W,Stockton,CA,...,True,CA,44797.0,74.9,25.3,37.0,12.2,1.1,21.5,40.3
2,43,Brian Barbosa,2015-01-11,shot,gun,23.0,M,H,South Gate,CA,...,True,CA,43552.0,52.4,20.0,50.5,0.9,0.9,0.8,94.8
3,63,Jose Ceja,2015-01-15,shot,knife,36.0,M,H,Fairfield,CA,...,True,CA,67364.0,85.6,13.2,46.0,15.7,0.8,14.9,27.3
4,68,Zaki Shinwary,2015-01-16,shot and Tasered,knife,48.0,M,O,Fremont,CA,...,True,CA,105355.0,92.3,6.1,32.8,3.3,0.5,50.6,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,6568,Anthony Loia,2021-02-06,shot,gun,26.0,M,NaN,Long Beach,CA,...,True,CA,52783.0,79.4,20.6,46.1,13.5,0.7,12.9,40.8
896,6566,Brooke Leann Blair,2021-02-07,shot,toy weapon,27.0,F,NaN,Redding,CA,...,True,CA,43341.0,90.6,18.8,85.8,1.2,2.3,3.4,8.7
897,6614,NaN,2021-02-15,shot,undetermined,NaN,M,NaN,El Monte,CA,...,True,CA,38085.0,57.8,24.9,38.8,0.8,1.0,25.1,69.0
898,6615,Royce Robertson,2021-02-15,shot,gun,33.0,M,W,Indian Wells,CA,...,True,CA,93625.0,94.4,4.6,95.2,0.6,0.4,1.7,4.2
899,6632,NaN,2021-02-25,shot,undetermined,NaN,M,NaN,West Sacramento,CA,...,True,CA,52763.0,82.7,17.7,60.6,4.8,1.6,10.5,31.4

In [3]:
grouped = df.groupby('city')
grouped['age'].mean()

city
Adelanto        32.0
Aguanga         62.0
Alhambra        25.0
Alpine          33.0
Alta Sierra     33.0
                ...
Woodville       17.0
Yorba Linda     39.0
Yreka           31.0
Yuba City       38.0
Yucca Valley    38.5
Name: age, Length: 354, dtype: float64

In [4]:
race_grouping = df.loc[:, ["id", "race"]]
race_grouping = race_grouping.groupby(["race"])["id"].count()
race_grouping = pd.DataFrame(race_grouping)
race_grouping.head(10)

       id
race
A      33
B     144
H     356
N       4
O       8
W     251

In [5]:
unarmed = df.loc[(df['armed'] == 'unarmed') | (df['armed'] == 'NaN'), 'armed'].count()
count_armed = df['armed'].count() - unarmed
print(f'The number of people armed when they were fatally shot is: {count_armed}')

The number of people armed when they were fatally shot is: 803