In [1]:
import pandas as pd

In [5]:
demo_info = pd.read_csv('data/full_census_data.csv')

In [8]:
demo_info.drop(columns = "Unnamed: 0")

,Geographic Area,City,Median Income,percent_completed_hs,poverty_rate,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda CDP,11207,21.2,78.8,67.2,30.2,0,0,1.6
1,AL,Abbeville city,25615,69.1,29.1,54.4,41.4,0.1,1,3.1
2,AL,Adamsville city,42575,78.9,25.5,52.3,44.9,0.5,0.3,2.3
3,AL,Addison town,37083,81.4,30.7,99.1,0.1,0,0.1,0.4
4,AL,Akron town,21667,68.6,42,13.2,86.5,0,0,0.3
...,...,...,...,...,...,...,...,...,...,...
29110,WY,Woods Landing-Jelm CDP,NaN,100,18.6,95.9,0,0,2.1,0
29111,WY,Worland city,41523,85.6,15.3,89.9,0.3,1.3,0.6,16.6
29112,WY,Wright town,77114,89.2,5.9,94.5,0.1,1.4,0.2,6.2
29113,WY,Yoder town,37500,79.4,5.4,97.4,0,0,0,4
29114,WY,Y-O Ranch CDP,NaN,100,0,92.8,1.5,2.6,0,11.8

In [11]:
demo_info["City"] = demo_info['City'].str.rsplit(' ', n=1).str.get(0)

In [13]:
demo_info.head(20)

,Unnamed: 0,Geographic Area,City,Median Income,percent_completed_hs,poverty_rate,share_white,share_black,share_native_american,share_asian,share_hispanic
0,0,AL,Abanda,11207,21.2,78.8,67.2,30.2,0,0,1.6
1,1,AL,Abbeville,25615,69.1,29.1,54.4,41.4,0.1,1,3.1
2,2,AL,Adamsville,42575,78.9,25.5,52.3,44.9,0.5,0.3,2.3
3,3,AL,Addison,37083,81.4,30.7,99.1,0.1,0,0.1,0.4
4,4,AL,Akron,21667,68.6,42,13.2,86.5,0,0,0.3
5,5,AL,Alabaster,71816,89.3,11.2,79.4,13.5,0.4,0.9,9
6,6,AL,Albertville,32911,72.7,26.7,75.9,1.9,0.8,0.5,27.9
7,7,AL,Alexander City,29874,78.1,30.4,62.2,32,0.2,0.9,4.8
8,8,AL,Alexandria,56058,88.8,9.7,87.4,10.2,0.3,0.5,0.9
9,9,AL,Aliceville,21131,74.3,41.3,22.6,74.9,0.1,0,1.2
10,10,AL,Allgood,42009,48.1,27.7,79.6,0.6,0.3,0.6,49.4
11,11,AL,Altoona,27566,66.9,27.5,95.8,1.7,0.2,0.2,1.1
12,12,AL,Andalusia,31968,81.1,24.5,70.5,25.9,0.4,1,1.9
13,13,AL,Anderson,34792,85.7,13.8,97.9,0,0.4,0,0.7
14,14,AL,Anniston,29681,79.8,31.7,44.7,51.5,0.3,0.8,2.7
15,15,AL,Arab,40292,87.6,16.7,96.6,0.1,0.6,0.7,1.7
16,16,AL,Ardmore,35670,77.7,19.1,94.3,1.9,0.8,0.9,1.3
17,17,AL,Argo,57212,87.5,8.6,94.1,3.6,0.4,0.3,0.5
18,18,AL,Ariton,24286,71.3,37.6,78.3,19.2,0,0.1,6
19,19,AL,Arley,28750,80.6,31.6,94.4,0,0.6,0.3,1.4

In [14]:
demo_info.to_csv('data/full_census_data.csv')