In [2]:
import pandas as pd

In [3]:
shooting_df = pd.read_csv('data/fatal-police-shootings-data.csv')
shooting_df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6082,6651,NaN,2021-02-26,shot and Tasered,gun,NaN,M,NaN,San Antonio,TX,False,attack,Foot,False,-98.452,29.429,True
6083,6644,NaN,2021-02-27,shot,undetermined,NaN,M,NaN,Dora,AL,False,undetermined,NaN,False,-87.090,33.729,True
6084,6645,NaN,2021-02-27,shot,gun,NaN,M,NaN,Sebeka,MN,False,attack,NaN,False,-94.937,46.616,True
6085,6646,NaN,2021-02-27,shot,undetermined,NaN,M,NaN,Sebeka,MN,False,attack,NaN,False,-94.937,46.616,True
6086,6647,NaN,2021-02-27,shot,gun,NaN,M,NaN,Clay County,FL,False,attack,NaN,False,-81.747,30.162,True

In [4]:
census_df = pd.read_csv('data/full_census_data.csv')
census_df = census_df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])
census_df

,Geographic Area,City,Median Income,percent_completed_hs,poverty_rate,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda,11207,21.2,78.8,67.2,30.2,0,0,1.6
1,AL,Abbeville,25615,69.1,29.1,54.4,41.4,0.1,1,3.1
2,AL,Adamsville,42575,78.9,25.5,52.3,44.9,0.5,0.3,2.3
3,AL,Addison,37083,81.4,30.7,99.1,0.1,0,0.1,0.4
4,AL,Akron,21667,68.6,42,13.2,86.5,0,0,0.3
...,...,...,...,...,...,...,...,...,...,...
29110,WY,Woods Landing-Jelm,NaN,100,18.6,95.9,0,0,2.1,0
29111,WY,Worland,41523,85.6,15.3,89.9,0.3,1.3,0.6,16.6
29112,WY,Wright,77114,89.2,5.9,94.5,0.1,1.4,0.2,6.2
29113,WY,Yoder,37500,79.4,5.4,97.4,0,0,0,4
29114,WY,Y-O Ranch,NaN,100,0,92.8,1.5,2.6,0,11.8

In [5]:
census_df = census_df.rename(columns={'City': 'city', 'Geographic Area': 'state'})
census_df

,state,city,Median Income,percent_completed_hs,poverty_rate,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda,11207,21.2,78.8,67.2,30.2,0,0,1.6
1,AL,Abbeville,25615,69.1,29.1,54.4,41.4,0.1,1,3.1
2,AL,Adamsville,42575,78.9,25.5,52.3,44.9,0.5,0.3,2.3
3,AL,Addison,37083,81.4,30.7,99.1,0.1,0,0.1,0.4
4,AL,Akron,21667,68.6,42,13.2,86.5,0,0,0.3
...,...,...,...,...,...,...,...,...,...,...
29110,WY,Woods Landing-Jelm,NaN,100,18.6,95.9,0,0,2.1,0
29111,WY,Worland,41523,85.6,15.3,89.9,0.3,1.3,0.6,16.6
29112,WY,Wright,77114,89.2,5.9,94.5,0.1,1.4,0.2,6.2
29113,WY,Yoder,37500,79.4,5.4,97.4,0,0,0,4
29114,WY,Y-O Ranch,NaN,100,0,92.8,1.5,2.6,0,11.8

In [6]:
combined_df = shooting_df.merge(census_df, how='left', on=['state', 'city'])
combined_df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,...,latitude,is_geocoding_exact,Median Income,percent_completed_hs,poverty_rate,share_white,share_black,share_native_american,share_asian,share_hispanic
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,...,47.247,True,37072,80.1,28.6,78.9,0.8,3.7,1.1,19.2
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,...,45.487,True,65765,88.1,14.9,70.9,2.6,1,8.9,21.1
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,...,37.695,True,45947,87.5,17.3,71.9,11.5,1.2,4.8,15.3
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,...,37.763,True,81294,87,13.2,48.5,6.1,0.5,33.3,15.1
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,...,40.384,True,47791,76.3,16.6,76.5,0.9,1.2,0.9,43.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6091,6651,NaN,2021-02-26,shot and Tasered,gun,NaN,M,NaN,San Antonio,TX,...,29.429,True,46744,81.4,19.8,72.6,6.9,0.9,2.4,63.2
6092,6644,NaN,2021-02-27,shot,undetermined,NaN,M,NaN,Dora,AL,...,33.729,True,40769,82.3,17.2,85.6,12.2,0.3,0,0.7
6093,6645,NaN,2021-02-27,shot,gun,NaN,M,NaN,Sebeka,MN,...,46.616,True,35893,92.6,18,97.9,0.4,0.1,0,0.8
6094,6646,NaN,2021-02-27,shot,undetermined,NaN,M,NaN,Sebeka,MN,...,46.616,True,35893,92.6,18,97.9,0.4,0.1,0,0.8
6095,6647,NaN,2021-02-27,shot,gun,NaN,M,NaN,Clay County,FL,...,30.162,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
combined_df = combined_df.drop_duplicates(['id'])
combined_df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,...,latitude,is_geocoding_exact,Median Income,percent_completed_hs,poverty_rate,share_white,share_black,share_native_american,share_asian,share_hispanic
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,...,47.247,True,37072,80.1,28.6,78.9,0.8,3.7,1.1,19.2
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,...,45.487,True,65765,88.1,14.9,70.9,2.6,1,8.9,21.1
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,...,37.695,True,45947,87.5,17.3,71.9,11.5,1.2,4.8,15.3
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,...,37.763,True,81294,87,13.2,48.5,6.1,0.5,33.3,15.1
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,...,40.384,True,47791,76.3,16.6,76.5,0.9,1.2,0.9,43.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6091,6651,NaN,2021-02-26,shot and Tasered,gun,NaN,M,NaN,San Antonio,TX,...,29.429,True,46744,81.4,19.8,72.6,6.9,0.9,2.4,63.2
6092,6644,NaN,2021-02-27,shot,undetermined,NaN,M,NaN,Dora,AL,...,33.729,True,40769,82.3,17.2,85.6,12.2,0.3,0,0.7
6093,6645,NaN,2021-02-27,shot,gun,NaN,M,NaN,Sebeka,MN,...,46.616,True,35893,92.6,18,97.9,0.4,0.1,0,0.8
6094,6646,NaN,2021-02-27,shot,undetermined,NaN,M,NaN,Sebeka,MN,...,46.616,True,35893,92.6,18,97.9,0.4,0.1,0,0.8
6095,6647,NaN,2021-02-27,shot,gun,NaN,M,NaN,Clay County,FL,...,30.162,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
combined_df.to_csv('data/combined_shooting_census.csv', index = False)