In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/fatal-police-shootings-data.csv')
df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6082,6651,NaN,2021-02-26,shot and Tasered,gun,NaN,M,NaN,San Antonio,TX,False,attack,Foot,False,-98.452,29.429,True
6083,6644,NaN,2021-02-27,shot,undetermined,NaN,M,NaN,Dora,AL,False,undetermined,NaN,False,-87.090,33.729,True
6084,6645,NaN,2021-02-27,shot,gun,NaN,M,NaN,Sebeka,MN,False,attack,NaN,False,-94.937,46.616,True
6085,6646,NaN,2021-02-27,shot,undetermined,NaN,M,NaN,Sebeka,MN,False,attack,NaN,False,-94.937,46.616,True
6086,6647,NaN,2021-02-27,shot,gun,NaN,M,NaN,Clay County,FL,False,attack,NaN,False,-81.747,30.162,True

In [4]:
grouped = df.groupby('state')
grouped.count().sort_values('id', ascending = False)

,id,name,date,manner_of_death,armed,age,gender,race,city,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
state,,,,,,,,,,,,,,,,
CA,900,834,900,900,872,837,900,796,900,900,900,850,900,873,873,900
TX,539,491,539,539,522,498,539,477,539,539,539,504,539,521,521,539
FL,405,384,405,405,391,383,405,374,405,405,405,387,405,391,391,405
AZ,287,274,287,287,274,274,287,243,287,287,287,274,287,267,267,287
CO,216,206,216,216,210,200,216,192,216,216,216,204,216,212,212,216
GA,206,206,206,206,201,201,205,184,206,206,206,197,206,195,195,206
OK,180,179,180,180,174,172,180,166,180,180,180,171,180,168,168,180
WA,175,169,175,175,170,169,175,141,175,175,175,164,175,169,169,175
NC,175,174,175,175,172,169,175,165,175,175,175,162,175,169,169,175
OH,173,172,173,173,165,170,173,163,173,173,173,163,173,165,165,173
TN,158,157,158,158,153,154,158,141,158,158,158,151,158,149,149,158
MO,152,148,152,152,148,147,152,134,152,152,152,141,152,138,138,152
PA,123,120,123,123,117,120,123,108,123,123,123,120,123,118,118,123
LA,122,122,122,122,118,119,122,116,122,122,122,110,122,115,115,122
NM,120,113,120,120,114,111,120,103,120,120,120,112,120,115,115,120
IL,114,113,114,114,108,113,114,110,114,114,114,108,114,112,112,114
AL,114,111,114,114,109,108,114,103,114,114,114,110,114,106,106,114
IN,113,113,113,113,109,113,113,105,113,113,113,109,113,104,104,113
KY,110,109,110,110,105,107,110,98,110,110,110,100,110,101,101,110
NY,110,106,110,110,109,104,110,100,110,110,110,103,110,105,105,110
NV,107,106,107,107,102,104,107,96,107,107,107,102,107,104,104,107
VA,106,105,106,106,103,103,106,99,106,106,106,105,106,100,100,106
WI,100,99,100,100,99,99,100,95,100,100,100,94,100,93,93,100
SC,95,95,95,95,91,94,95,89,95,95,95,88,95,89,89,95
OR,95,94,95,95,93,93,95,84,95,95,95,85,95,92,92,95
MI,94,88,94,94,92,90,94,85,94,94,94,91,94,91,91,94
MD,88,88,88,88,82,86,88,84,88,88,88,85,88,88,88,88
AR,87,87,87,87,84,83,87,75,87,87,87,81,87,76,76,87
UT,75,74,75,75,74,73,75,70,75,75,75,71,75,68,68,75
MS,75,70,75,75,73,67,75,68,75,75,75,69,75,73,73,75
MN,72,69,72,72,70,69,72,67,72,72,72,67,72,67,67,72
NJ,72,70,72,72,70,71,72,65,72,72,72,64,72,72,72,72
WV,59,58,59,59,55,56,59,50,59,59,59,56,59,50,50,59
KS,55,55,55,55,53,55,55,53,55,55,55,54,55,54,54,55
ID,48,46,48,48,47,45,48,43,48,48,48,45,48,47,47,48
AK,42,41,42,42,42,41,42,39,42,42,42,39,42,35,35,42
MA,39,37,39,39,36,37,39,37,39,39,39,39,39,35,35,39
MT,38,36,38,38,36,36,38,36,38,38,38,33,38,34,34,38
IA,37,37,37,37,37,37,37,36,37,37,37,34,37,34,34,37
HI,31,31,31,31,27,30,31,30,31,31,31,30,31,28,28,31
NE,28,28,28,28,27,28,28,28,28,28,28,27,28,27,27,28
ME,24,24,24,24,23,24,24,22,24,24,24,19,24,23,23,24
CT,24,24,24,24,22,24,24,22,24,24,24,22,24,23,23,24
SD,18,16,18,18,18,16,18,14,18,18,18,16,18,15,15,18
NH,16,16,16,16,16,16,16,14,16,16,16,16,16,15,15,16
DE,15,14,15,15,13,15,15,12,15,15,15,15,15,14,14,15
DC,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
WY,15,15,15,15,15,15,15,14,15,15,15,14,15,14,14,15
ND,12,12,12,12,11,12,12,12,12,12,12,11,12,10,10,12
VT,9,9,9,9,9,9,9,8,9,9,9,9,9,7,7,9
RI,4,4,4,4,3,4,4,4,4,4,4,3,4,4,4,4

In [7]:
cali = df.loc[df['state'] == 'CA', :]
cali

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
10,19,Patrick Wetter,2015-01-06,shot and Tasered,knife,25.0,M,W,Stockton,CA,False,attack,Not fleeing,False,-121.299,37.930,True
22,43,Brian Barbosa,2015-01-11,shot,gun,23.0,M,H,South Gate,CA,False,attack,Not fleeing,False,-118.183,33.951,True
35,63,Jose Ceja,2015-01-15,shot,knife,36.0,M,H,Fairfield,CA,True,other,Not fleeing,False,-121.997,38.266,True
38,68,Zaki Shinwary,2015-01-16,shot and Tasered,knife,48.0,M,O,Fremont,CA,False,other,Not fleeing,False,-122.060,37.588,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6027,6568,Anthony Loia,2021-02-06,shot,gun,26.0,M,NaN,Long Beach,CA,False,attack,NaN,True,-118.198,33.784,True
6032,6566,Brooke Leann Blair,2021-02-07,shot,toy weapon,27.0,F,NaN,Redding,CA,False,other,NaN,False,-122.381,40.575,True
6053,6614,NaN,2021-02-15,shot,undetermined,NaN,M,NaN,El Monte,CA,False,attack,Foot,False,-118.011,34.064,True
6054,6615,Royce Robertson,2021-02-15,shot,gun,33.0,M,W,Indian Wells,CA,False,other,Car,False,-116.292,33.712,True
6074,6632,NaN,2021-02-25,shot,undetermined,NaN,M,NaN,West Sacramento,CA,False,undetermined,NaN,False,-121.549,38.589,True

In [26]:
income = pd.read_csv('data/MedianHouseholdIncome2015.csv', encoding = 'unicode_escape')
income

      Geographic Area                    City Median Income
0                  AL              Abanda CDP         11207
1                  AL          Abbeville city         25615
2                  AL         Adamsville city         42575
3                  AL            Addison town         37083
4                  AL              Akron town         21667
...               ...                     ...           ...
29317              WY  Woods Landing-Jelm CDP           NaN
29318              WY            Worland city         41523
29319              WY             Wright town         77114
29320              WY              Yoder town         37500
29321              WY           Y-O Ranch CDP           NaN

[29322 rows x 3 columns]

In [10]:
cali_income = income.loc[income['Geographic Area'] == 'CA', :]
cali_income

     Geographic Area                City Median Income
1932              CA  Acalanes Ridge CDP        156953
1933              CA          Acampo CDP        152713
1934              CA           Acton CDP         89150
1935              CA       Adelanto city         33298
1936              CA            Adin CDP           (X)
...              ...                 ...           ...
3449              CA          Yreka city         28333
3450              CA      Yuba City city         50649
3451              CA        Yucaipa city         56452
3452              CA   Yucca Valley town         40030
3453              CA         Zayante CDP         81513

[1522 rows x 3 columns]

In [24]:
poverty = pd.read_csv('data/PercentagePeopleBelowPovertyLevel.csv', encoding = 'unicode_escape')

In [23]:
cali_pov = poverty.loc[poverty['Geographic Area'] == 'CA', :]
cali_pov

     Geographic Area                City poverty_rate
1932              CA  Acalanes Ridge CDP          2.5
1933              CA          Acampo CDP            0
1934              CA           Acton CDP          7.6
1935              CA       Adelanto city         40.3
1936              CA            Adin CDP         12.6
...              ...                 ...          ...
3449              CA          Yreka city         34.3
3450              CA      Yuba City city         18.5
3451              CA        Yucaipa city         16.7
3452              CA   Yucca Valley town           21
3453              CA         Zayante CDP          7.7

[1522 rows x 3 columns]

In [21]:
education = pd.read_csv('data/PercentOver25CompletedHighSchool.csv', encoding = 'unicode_escape')

In [16]:
cali_edu = education.loc[education['Geographic Area'] == 'CA', :]
cali_edu

     Geographic Area                City percent_completed_hs
1932              CA  Acalanes Ridge CDP                  100
1933              CA          Acampo CDP                 77.1
1934              CA           Acton CDP                 88.2
1935              CA       Adelanto city                 67.5
1936              CA            Adin CDP                  100
...              ...                 ...                  ...
3449              CA          Yreka city                 84.4
3450              CA      Yuba City city                 78.3
3451              CA        Yucaipa city                 86.4
3452              CA   Yucca Valley town                 85.5
3453              CA         Zayante CDP                 96.4

[1522 rows x 3 columns]

In [20]:
race = pd.read_csv('data/ShareRaceByCity.csv', encoding = 'unicode_escape')

In [19]:
cali_race = race.loc[race['Geographic area'] == 'CA', :]
cali_race

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic
1925,CA,Acalanes Ridge CDP,83.6,0.4,0.7,11.1,4.4
1926,CA,Acampo CDP,49.6,0,0.3,0.9,58.4
1927,CA,Acton CDP,86.4,0.8,0.9,2,18.1
1928,CA,Adelanto city,43.8,20.5,1.3,1.9,58.3
1929,CA,Adin CDP,88.2,0.7,2.9,0,11.8
...,...,...,...,...,...,...,...
3443,CA,Yreka city,83.6,0.7,6.3,1.2,9.7
3444,CA,Yuba City city,57.6,2.5,1.4,17.2,28.4
3445,CA,Yucaipa city,79.5,1.6,0.9,2.8,27.1
3446,CA,Yucca Valley town,83.5,3.2,1.1,2.3,17.8
3447,CA,Zayante CDP,91.8,1.4,0.9,0.6,8.1